OPENAI_API_KEY=

DATA_EXTRACTOR_MODEL=
DATA_EXTRACTOR_TEMPERATURE=0
DATA_EXTRACTOR_REASONING_EFFORT=
DATA_EXTRACTOR_REASONING_SUMMARY=

STANDARD_DATA_MODEL=
STANDARD_DATA_TEMPERATURE=0
STANDARD_DATA_REASONING_EFFORT=
STANDARD_DATA_REASONING_SUMMARY=
STANDARD_DATA_EMBEDDING_MODEL=text-embedding-3-small

ALERT_RELEVANCE_MODEL=
ALERT_RELEVANCE_TEMPERATURE=0
ALERT_RELEVANCE_REASONING_EFFORT=
ALERT_RELEVANCE_REASONING_SUMMARY=
